<span class="mdl-chip mdl-chip--contact">
  <span class="mdl-chip__contact {{if this.selected 'mdl-color--teal'}} mdl-color-text--white">
    {{first-letter this.name }}
  </span>
  <span class="mdl-chip__text">{{ this.name }}</span>
</span>
