body {
  min-width: 100vw;
  min-height: 100vh;
}
main {
  display: flex !important;
  justify-content: center !important;
}
.board-cell {
  font-family: 'Shadows Into Light', cursive;
  cursor: pointer;
  font-size: 144px;
  display: block;
  width: 150px;
  min-width: 150px;
  min-height: 150px;
}

.display-name {
  cursor: pointer;
}

.position-relative {
  position: relative !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}
.no-wrap {
  flex-wrap: nowrap !important;
}
.border {
  border: 2px solid grey;
}

.justify-content-center {
  justify-content: center;
}

.line-height-1 {
  line-height: 1 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.winner {
  cursor: default;
}

.text-center {
  text-align: center !important;
}
.shadows-into-light {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2em;
  padding-left: 0.2em;
}
.fs-21 {
  font-size: 21px !important;
}
.m-10 {
  margin: 10% !important;
}
